fastapi
uvicorn
python-dotenv==1.0.0
pymongo
passlib[bcrypt]
deep-translator
gtts
boto3
botocore
opencv-python==4.7.0
numpy==1.24.0
tensorflow==2.13.0
keras==2.13.0
scipy
joblib
mediapipe
scikit-learn==1.3.0
pandas==2.0.0
matplotlib==3.7.0
seaborn
